In [2]:
#functions

In [3]:
#program for finding the factorial of a number
#facorial of n= n*(n-1)*(n-2)*............*1
n=5
mul=1
for i in range(1,n+1):
  mul=mul*i
print(mul)

120

In [4]:
#5!=5*4*3*2*1=120

In [5]:
n=6
mul=1
for i in range(1,n+1):
  mul=mul*i
print(mul)

720

In [8]:
n=9                       #1
mul=1                     #2
for i in range(1,n+1):    #2
  mul=mul*i               #2
print(mul)                #2

362880

In [9]:
#defining the function
#1. your code depends on which value? --- n --> function parameter
#2. find out which portion of the code remains the same --> function body  (core logic of a code)

In [10]:
'''
def function_name ([parameters]):
  functionbody
'''

'\ndef function_name ([parameters]):\n  functionbody\n'

In [11]:
#function definition--> def is the keyword for defining the function
def factorial(n):
  mul=1                     #2
  for i in range(1,n+1):    #2
    mul=mul*i               #2
  print(mul)

In [14]:
#function calling----> function_name([parameters])
factorial(9)

362880

In [15]:
#2 types of the functions: in-built function and user-defined function
#in-built functions: print, input, range, strcpy, strlen, strcat
print("hii")

hii

In [16]:
#add, sub, evenodd, factorial

In [18]:
#No argument, No return statement
def printing():
  print("Welcome to DAIICT")

In [19]:
printing()

Welcome to DAIICT

In [20]:
printing()

Welcome to DAIICT

In [21]:
printing()

Welcome to DAIICT

In [22]:
#having argument but no return statement
def printing(student_name):
  print("Welcome",student_name, "to DAIICT")

In [23]:
printing("Robert")

Welcome Robert to DAIICT

In [24]:
printing("Nishith")

Welcome Nishith to DAIICT

In [25]:
printing("Aryan")

Welcome Aryan to DAIICT

In [54]:
#having argument and return statement
def to_print(student_name):
  a="welcome "+student_name+" to DAIICT"    #scope of a is within the function--> a is a local variable
  return a

In [57]:
to_print("Robert")
#print(a)

'welcome Robert to DAIICT'

In [56]:
to_print("Aryan")

'welcome Aryan to DAIICT'

In [58]:
#addition of two numbers
def addition(a,b):
  c=a+b
  return c

In [60]:
addition(5,2)   #print(addition(5,2))

7

In [46]:
#no argument with return statement

In [61]:
def pi():
  return 3.14

In [64]:
r=5
area=pi()*r*r
print(pi())
print(area)

3.14
78.5

In [63]:
#dice--> 1 to 6
dice()

def dice():
  random from 1 to 6
  return

78.5

In [74]:
import random
def dice():
  dice_list=[1,2,3,4,5,6]
  randon_num=random.choice(dice_list)
  return(randon_num)

In [78]:
num=dice()
print(num)

5

In [79]:
#functions are having positional argument dependencies

In [82]:
def student_list(name,age,sem):
  print("the student named ",name," of age ",age, "is studying in semester ",sem)

In [85]:
student_list("robert",sem=2,age=25)

the student named  robert  of age  25 is studying in semester  2

In [86]:
#Default Arguments

In [87]:
def student_list(name,age,sem=1): #default argument
  print("the student named ",name," of age ",age, "is studying in semester ",sem)

In [88]:
student_list("robert",25)

the student named  robert  of age  25 is studying in semester  1

In [89]:
student_list("aryan",30)

the student named  aryan  of age  30 is studying in semester  1

In [90]:
student_list("aryan",30,3)

the student named  aryan  of age  30 is studying in semester  3

In [91]:
#global vs local variable

In [98]:
def swap(x,y):
  x,y=y,x        #x and y are swapped within this function, so the values are changed within this function only    LOCAL variables
  print("inside the function, the value of x and y are respectively ",x,y)
  return x,y

In [101]:
x,y=3,5
print("before calling the swap function, the values of x and y are respectively ",x,y)
swap(x,y)
print("after calling the swap function, the values of x and y are respectively ",x,y)
x=x+1
y=y+1
print("incremented values are ",x,y)

before calling the swap function, the values of x and y are respectively  3 5
inside the function, the value of x and y are respectively  5 3
after calling the swap function, the values of x and y are respectively  3 5
incremented values are  4 6

In [100]:
x,y=3,5
print("before calling the swap function, the values of x and y are respectively ",x,y)
x,y=swap(x,y)
print("after calling the swap function, the values of x and y are respectively ",x,y)
x=x+1
y=y+1
print("incremented values are ",x,y)

before calling the swap function, the values of x and y are respectively  3 5
inside the function, the value of x and y are respectively  5 3
after calling the swap function, the values of x and y are respectively  5 3
incremented values are  6 4

In [105]:
def listoperation(y):
  for i in range(len(y)):
    y[i]=y[i]+1
  print("within function", y)

In [106]:
#call by reference
x=[1,2,3,4,5]
print("before but outside function", x)
listoperation(x)
print("after but outside the function", x)

before but outside function [1, 2, 3, 4, 5]
within function [2, 3, 4, 5, 6]
after but outside the function [2, 3, 4, 5, 6]

In [108]:
1/0

ZeroDivisionError: ignored

In [109]:
#lambda function
#function_name=lambda <[parameters]>:function_body

In [110]:
def mul(arg1,arg2):
  return (arg1*arg2)

In [111]:
print(mul(5,3))

15

In [117]:
mul=lambda arg1,arg2,arg3: arg1*arg2*arg3

In [118]:
print(mul(5,3,2))

30