In [1]:
a="abcdefgh"   #indexing of a string starts from 0

In [2]:
a[0]

'a'

In [3]:
a[3]

'd'

In [6]:
a[1:5+1]   #values starts from 1
#[a:b]----> values starts from a (inclusive) to b(exclusive) i.e. b-1(inclusive)   [a,b-1]

'bcdef'

In [11]:
a[-5:-3]

'de'

for loop demonstration

In [15]:
for i in range(2,10,2):                  #range function: range(a,b,stepsize)--> [a,b-1]    the step size by default=1
  print(i)

2
4
6
8

2<10-->2
4<10 --> 4
6<10 --> 6
8<10 --> 8
10<10  --> terminated

In [22]:
list(range(2,10,2))

[2, 4, 6, 8]

In [23]:
for i in [2,4,6,8]:
  print(i)

2
4
6
8

In [24]:
fruits=['apple','banana','mango']
for i in fruits:
  print(i)

apple
banana
mango

In [25]:
fruits='banana'
for i in fruits:
  print(i)

b
a
n
a
n
a

In [ ]:
#print only the even numbers
if(1%2==0):
  print("1")
if(2%2==0):
  print("2")
if(3%2==0):
  print("3")
.......................

In [27]:
for i in range(1,10,2):   #i=1,3,5,7,9
  if(i%2==0):
    print(i)

In [3]:
for i in range(1,10,2):  #step-size: 1
  print(i)

1
3
5
7
9

While Statement

In [5]:
i=2
while(i<=10):
  print(i)
  i=i+2

2
4
6
8
10

In [14]:
#sequence: 1,2,4,8,16,32,64
i=1
while(i<100):  #1>100-->false                         i=81*3=243<100??--> false
  print(i)
  i=i*3
else:
  print("invalid")

1
3
9
27
81
invalid

In [16]:
count=0
while (count<5):   #if(count<5)-->true/1
  print(count, " is less than 5")
  count+=1
#else:
#  print(count," is not less than 5")

0  is less than 5
1  is less than 5
2  is less than 5
3  is less than 5
4  is less than 5
5  is not less than 5

In [ ]:
count=0
while(1):         #infinite loop
  print(count)
  count+=1

Loop control statements: break, pass and continue

In [19]:
for i in range(1,10):
  if(i%3==0):   #if i is divisible by 3
    break
  else:
    print(i)

1
2

In [20]:
for i in range(1,10):
  if(i%3==0):   #if i is divisible by 3
    continue
  else:
    print(i)

1
2
4
5
7
8

demonstration of continue and pass control statements

In [21]:
print("pass demonstration")
for i in range(1,10):
  if(i>5):
    pass    #normal (expected) behaviour
  else:
    print(i)
  print("hello")

pass demonstration
1
hello
2
hello
3
hello
4
hello
5
hello
hello
hello
hello
hello

In [24]:
print("continue demonstration")
for i in range(1,10):
  print("*******")
  if(i>5):
    continue    
  else:
    print(i)
  print("hello")

continue demonstration
*******
1
hello
*******
2
hello
*******
3
hello
*******
4
hello
*******
5
hello
*******
*******
*******
*******

In [25]:
print("break demonstration")
for i in range(1,10):
  print("********")
  if(i>5):
    break    
  else:
    print(i)
  print("hello")

break demonstration
********
1
hello
********
2
hello
********
3
hello
********
4
hello
********
5
hello
********

In [28]:
list(range(10))   #by default in range function---> initial value: 0 and stepsize=1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
num=int(input("enter the number: "))
print(list(range(num)))

enter the number: 5
[0, 1, 2, 3, 4]

In [26]:
#print the factorial of a number
#5!=5*4*3*2*1=120

In [31]:
num=int(input("enter the number: "))
mul=1
for i in range(1,num+1):
  mul*=i
print(mul)

enter the number: 5
120

In [32]:
num=int(input("enter the number: "))
mul=1
while(num>1):   #num=5
  mul*=num      
  num-=1   #num:5,4,3,2,1
print(mul)

enter the number: 5
120

In [33]:
#prime numbers between [lower,upper]
#[2,10]: 2,3,5,7

In [34]:
lower,upper=int(input("enter the lower number: ")), int(input("enter the upper number"))

enter the lower number: 2
enter the upper number20

In [35]:
for n in range(lower,upper+1):
  if(n>1):
    #check  if n is a prime number
    for i in range(2,n):
      if(n%i==0):
        #current n value is not prime
        break
    else:
      print(n, "is prime number")
  

  else:
    print("invalid")

2 is prime number
3 is prime number
5 is prime number
7 is prime number
11 is prime number
13 is prime number
17 is prime number
19 is prime number