Sets in Python

In [1]:
Days={"Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"}

In [2]:
print(Days) #Sets are unordered

{'Wednesday', 'Sunday', 'Thursday', 'Tuesday', 'Saturday', 'Friday', 'Monday'}

In [3]:
Days=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]  #as list

In [4]:
print(Days)              #Lists are ordered

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [6]:
Days={"Monday",2,1.5,"Wednesday","Thursday","Friday","Saturday","Sunday"}

In [7]:
Days

{1.5, 2, 'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Wednesday'}

In [8]:
type(Days)

set

In [9]:
Days[0]

TypeError: ignored

In [10]:
for i in Days:
  print(i)

Wednesday
1.5
2
Sunday
Friday
Saturday
Thursday
Monday

In [11]:
for i in range(len(Days)):
  print(Days[i])

TypeError: ignored

In [12]:
Days={1,2,"Hello","DAIICT",2.3,(1,2,3)}

In [13]:
Days

{(1, 2, 3), 1, 2, 2.3, 'DAIICT', 'Hello'}

In [14]:
Days={1,2,"Hello","DAIICT",2.3,(1,2,3),1,2,3}

In [15]:
Days      #sets have unique elements

{(1, 2, 3), 1, 2, 2.3, 3, 'DAIICT', 'Hello'}

In [16]:
#using set() method
Days=set([1,2,"Hello","DAIICT",2.3,(1,2,3),1,2,3])

In [17]:
Days

{(1, 2, 3), 1, 2, 2.3, 3, 'DAIICT', 'Hello'}

In [18]:
A=[1,2,"Hello","DAIICT",2.3,(1,2,3),1,2,3]

In [20]:
set(A)

{(1, 2, 3), 1, 2, 2.3, 3, 'DAIICT', 'Hello'}

In [21]:
A=[1,2,"Hello","DAIICT",(1,2),1,2,2.5,[1,2,3],1,2]

In [22]:
set(A)

TypeError: ignored

In [23]:
A=[1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,3,3,3,3,3,3,4,4,4,4,4,5,5,5,5,5]
print(set(A))

{1, 2, 3, 4, 5}

In [24]:
set1=set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [25]:
Days

{(1, 2, 3), 1, 2, 2.3, 3, 'DAIICT', 'Hello'}

In [27]:
Days[1]=2

TypeError: ignored

In [30]:
#Adding the elements in set
Days=set(["Sunday","Monday","Tuesday","Wednesday","Thursday"])
print("Original Declared Set")
print(Days)
print("Adding the elements in the set Days")
Days.add("Friday")
Days.add("Saturday")
print("Modified Set")
print(Days)
Days.add("Hello","DAIICT")
print(Days)

Original Declared Set
{'Wednesday', 'Sunday', 'Tuesday', 'Thursday', 'Monday'}
Adding the elements in the set Days
Modified Set
{'Wednesday', 'Sunday', 'Tuesday', 'Friday', 'Saturday', 'Thursday', 'Monday'}

TypeError: ignored

In [32]:
Days.add(set(["Hello","DAIICT"]))
print(Days)

TypeError: ignored

In [33]:
Days.add((1,2,3))

In [34]:
Days

{(1, 2, 3),
 'Friday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday'}

In [35]:
#update() to add multiple elements
Days=set(["Monday","Tuesday","Wednesday","Thursday"])
print("original Declared Set: ", Days)
print("Adding Multiple Elements")
Days.update(["Friday","Saturday","Sunday"])
print("Modified set is: ",Days)

original Declared Set:  {'Wednesday', 'Tuesday', 'Monday', 'Thursday'}
Adding Multiple Elements
Modified set is:  {'Wednesday', 'Sunday', 'Thursday', 'Tuesday', 'Saturday', 'Friday', 'Monday'}

In [36]:
Days

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [37]:
Days.update("DAIICT")

In [38]:
Days

{'A',
 'C',
 'D',
 'Friday',
 'I',
 'Monday',
 'Saturday',
 'Sunday',
 'T',
 'Thursday',
 'Tuesday',
 'Wednesday'}

In [40]:
Days.update("1")

In [41]:
Days

{'1',
 'A',
 'C',
 'D',
 'Friday',
 'I',
 'Monday',
 'Saturday',
 'Sunday',
 'T',
 'Thursday',
 'Tuesday',
 'Wednesday'}

In [42]:
Numbers=set([1,2,3,4,5,6])
Numbers.update([7,8,9])
print(Numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [43]:
Numbers.add(10)

In [44]:
Numbers

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
Numbers.update(["Hello","DAIICT",(1,2,3),4.5])

In [46]:
Numbers

{(1, 2, 3), 1, 10, 2, 3, 4, 4.5, 5, 6, 7, 8, 9, 'DAIICT', 'Hello'}

In [48]:
Numbers.update([11])

In [49]:
Numbers

{(1, 2, 3), 1, 10, 11, 2, 3, 4, 4.5, 5, 6, 7, 8, 9, 'DAIICT', 'Hello'}

In [50]:
Numbers.update('3456')

In [51]:
Numbers

{(1, 2, 3),
 1,
 10,
 11,
 2,
 3,
 '3',
 4,
 '4',
 4.5,
 5,
 '5',
 6,
 '6',
 7,
 8,
 9,
 'DAIICT',
 'Hello'}

In [54]:
Numbers.update(['3456','123'])
#'3456' --> '3','4','5','6'
#'3456','123' --> '3','4','5','6','1','2','3'

In [55]:
Numbers

{(1, 2, 3),
 1,
 '1',
 10,
 11,
 '123',
 2,
 '2',
 3,
 '3',
 '3456',
 4,
 '4',
 4.5,
 5,
 '5',
 6,
 '6',
 7,
 8,
 9,
 'DAIICT',
 'Hello'}

In [56]:
#Removing the values from the set--> discard()
Days={'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}
print("Original Set: ",Days)
print("Removing some day")
Days.discard("Friday")
print("Modified set: ",Days)

Original Set:  {'Wednesday', 'Sunday', 'Tuesday', 'Friday', 'Saturday', 'Thursday', 'Monday'}
Removing some day
Modified set:  {'Wednesday', 'Sunday', 'Tuesday', 'Saturday', 'Thursday', 'Monday'}

In [59]:
Days.discard("Hello")

In [60]:
Days

{'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [61]:
#remove() to remove the element from the set
Days={'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}
print("Original Set: ",Days)
print("Removing some day")
Days.remove('Monday')
Days.remove('Friday')
print("Modified Set: ",Days)
print("Removing the element not present in the set")
Days.remove("hello")

Original Set:  {'Wednesday', 'Sunday', 'Tuesday', 'Friday', 'Saturday', 'Thursday', 'Monday'}
Removing some day
Modified Set:  {'Wednesday', 'Sunday', 'Tuesday', 'Saturday', 'Thursday'}
Removing the element not present in the set

KeyError: ignored

In [62]:
#pop() to remove the element --> we can't determine which element will be removed
Days={'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}
print("Original Set: ",Days)
print("Removing some day")
Days.pop()
print("Modified Set: ",Days)

Original Set:  {'Wednesday', 'Sunday', 'Tuesday', 'Friday', 'Saturday', 'Thursday', 'Monday'}
Removing some day
Modified Set:  {'Sunday', 'Tuesday', 'Friday', 'Saturday', 'Thursday', 'Monday'}

In [63]:
Days

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday'}

In [64]:
#Removing all the values
Days.clear()

In [65]:
Days

set()

Mathematical Operations in Set

In [66]:
Days1={"Monday","Wednesday","Friday","Sunday"}
Days2={"Sunday","Tuesday","Thursday","Saturday"}

In [67]:
#union operation
Days1.union(Days2)

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [68]:
Days1|Days2

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

In [69]:
#intersection operation
Days1.intersection(Days2)

{'Sunday'}

In [70]:
Days1&Days2

{'Sunday'}

In [72]:
Days1={"Monday","Wednesday","Friday","Sunday"}
Days2={"Sunday","Tuesday","Thursday","Saturday"}
Days3={"Tuesday","Wedesday","Sunday"}
Days1.intersection(Days2,Days3)

{'Sunday'}

In [73]:
#symmetric difference operation
Days1-Days2

{'Friday', 'Monday', 'Wednesday'}

In [76]:
Days2

{'Saturday', 'Sunday', 'Thursday', 'Tuesday'}

In [74]:
Days1.symmetric_difference(Days2)

{'Friday', 'Monday', 'Saturday', 'Thursday', 'Tuesday', 'Wednesday'}

In [79]:
#Comparison between the sets
Days1={'A','B','C','D'}
Days2={'C','D','E','F'}
Days3={'A','G','H'}
Days4={'C','D'}

In [78]:
Days1>Days2

False

In [80]:
Days1>Days4  #Days1 is a superset of Days4

True

In [85]:
Days1.issuperset(Days4)

True

In [81]:
Days4<Days2  #Days4 is a subset of Days2

True

In [86]:
Days4.issubset(Days2)

True

In [82]:
Days1==Days2

False

In [83]:
Days1.isdisjoint(Days2)

False

In [84]:
Days3.isdisjoint(Days4)

True

In [87]:
Days3

{'A', 'G', 'H'}

In [88]:
'A' in Days3

True

In [89]:
'a' in Days3

False

In [92]:
#find the number of unplaced students
students=['Ram','Shyam','Mohan','Kiran','Riya']
placed_Students=['Ram','Riya','Shyam']
not_placed_students=set(students)-set(placed_Students)
print(not_placed_students)
print("number of students not placed: ",len(not_placed_students))

{'Kiran', 'Mohan'}
number of students not placed:  2

Application of NLP

In [93]:
#NLP=Natural Language Processing
#Fields: Data Science, Data Analytics, Power Electronics
ds_text='Data science is an interdisciplinary field that uses scientific methods processes algorithms and systems to extract knowledge and insights from noisy, structured and unstructured data and apply knowledge and actionable insights from data across a broad range of application domains Data science is related to data mining machine learning and big data'
da_text="Data analysis is a process of inspecting cleansing transforming and modelling data with the goal of discovering useful information informing conclusions and supporting decision making Data analysis has multiple facets and approaches encompassing diverse techniques under a variety of names and is used in different business science and social science domains In today's business world data analysis plays a role in making decisions more scientific and helping businesses operate more effectively"
power_text='Power electronics is the application of solid state electronics to the control and conversion of electric power The first high power electronic devices were made using mercury arc valves In modern systems the conversion is performed with semiconductor switching devices such as diodes thyristors and power transistors such as the power MOSFET and IGBT In contrast to electronic systems concerned with transmission and processing of signals and data in power electronics substantial amounts of electrical energy are processed'

In [94]:
ds_set=set(ds_text.split(' '))
da_set=set(da_text.split(' '))
power_set=set(power_text.split(' '))

In [96]:
print("data science vs data analytics")
print(ds_set.intersection(da_set))
print(len(ds_set.intersection(da_set)))

data science vs data analytics
{'is', 'of', 'and', 'science', 'data', 'scientific', 'a', 'Data', 'domains'}
9

In [97]:
print("data science vs power electronics")
print(ds_set.intersection(power_set))
print(len(ds_set.intersection(power_set)))

data science vs power electronics
{'systems', 'is', 'of', 'and', 'application', 'data', 'to'}
7

In [98]:
print("data analytics vs power electronics")
print(da_set.intersection(power_set))
print(len(da_set.intersection(power_set)))

data analytics vs power electronics
{'with', 'is', 'of', 'In', 'and', 'the', 'data', 'in'}
8

Dictionary in Python

In [99]:
Dict={"Name":"Ram","Age": 25,"Institute":"DAIICT"}

In [100]:
Dict

{'Age': 25, 'Institute': 'DAIICT', 'Name': 'Ram'}

In [101]:
Dict['Name']

'Ram'

In [102]:
Dict['Age']

25

In [103]:
Dict['Age']=28

In [104]:
Dict

{'Age': 28, 'Institute': 'DAIICT', 'Name': 'Ram'}

In [105]:
#(key,value) format for dictionary
Dict=dict([(1,'One'),(2,'Two'),(3,'Three')])

In [ ]:
# format for dictionary Dict[key]=value

In [106]:
Dict

{1: 'One', 2: 'Two', 3: 'Three'}

In [107]:
Dict[3]='Four'

In [108]:
Dict

{1: 'One', 2: 'Two', 3: 'Four'}

In [109]:
Dict[5]='five'

In [110]:
Dict

{1: 'One', 2: 'Two', 3: 'Four', 5: 'five'}

In [111]:
Dict[6]='six','SIX','Six'

In [112]:
Dict

{1: 'One', 2: 'Two', 3: 'Four', 5: 'five', 6: ('six', 'SIX', 'Six')}

In [113]:
Dict[7]=['six','SIX','Six']

In [114]:
Dict

{1: 'One',
 2: 'Two',
 3: 'Four',
 5: 'five',
 6: ('six', 'SIX', 'Six'),
 7: ['six', 'SIX', 'Six']}

In [115]:
Dict[7]

['six', 'SIX', 'Six']

In [116]:
Dict[7].append('Seven')

In [117]:
Dict

{1: 'One',
 2: 'Two',
 3: 'Four',
 5: 'five',
 6: ('six', 'SIX', 'Six'),
 7: ['six', 'SIX', 'Six', 'Seven']}

In [119]:
Dict={}

In [124]:
#Dictionary of student database
Dict['student_name']='Ram'
Dict['Age']=27
Dict['Affiliation']='DAIICT'
Dict['Residence']='Ahmedabad'

In [121]:
Dict

{'Affiliation': 'DAIICT',
 'Age': 27,
 'Residence': 'Ahmedabad',
 'student_name': 'Ram'}

In [125]:
#Dictionary of student database
Dict['student_name']=['Ram']
Dict['Age']=[27]
Dict['Affiliation']=['DAIICT']
Dict['Residence']=['Ahmedabad']

In [126]:
Dict

{'Affiliation': ['DAIICT'],
 'Age': [27],
 'Residence': ['Ahmedabad'],
 'student_name': ['Ram']}

In [127]:
#Dictionary of student database
Dict['student_name'].append('Shyam')
Dict['Age'].append(29)
Dict['Affiliation'].append('IIT Gandhinagar')
Dict['Residence'].append('Gandhinagar')

In [128]:
Dict

{'Affiliation': ['DAIICT', 'IIT Gandhinagar'],
 'Age': [27, 29],
 'Residence': ['Ahmedabad', 'Gandhinagar'],
 'student_name': ['Ram', 'Shyam']}

In [133]:
print(type(Dict['Age'][0]))
print(Dict['Age'][0])

<class 'int'>
27

In [134]:
Dict['Age'][0]=28

In [135]:
Dict

{'Affiliation': ['DAIICT', 'IIT Gandhinagar'],
 'Age': [28, 29],
 'Residence': ['Ahmedabad', 'Gandhinagar'],
 'student_name': ['Ram', 'Shyam']}

In [136]:
#delete the key from dictionary
del Dict['Age']

In [137]:
Dict

{'Affiliation': ['DAIICT', 'IIT Gandhinagar'],
 'Residence': ['Ahmedabad', 'Gandhinagar'],
 'student_name': ['Ram', 'Shyam']}

In [138]:
del Dict['Affiliation'][0]

In [139]:
Dict

{'Affiliation': ['IIT Gandhinagar'],
 'Residence': ['Ahmedabad', 'Gandhinagar'],
 'student_name': ['Ram', 'Shyam']}

In [140]:
#pop() deletes the element corresponding to a particular key value
Dict.pop('Affiliation')

['IIT Gandhinagar']

In [141]:
Dict

{'Residence': ['Ahmedabad', 'Gandhinagar'], 'student_name': ['Ram', 'Shyam']}

In [142]:
#Dictionary of student database
Dict['student_name']=['Ram','Shyam']
Dict['Age']=[27,29]
Dict['Affiliation']=['DAIICT','IIT Gandhinagar']
Dict['Residence']=['Ahmedabad','Gandhinagar']

In [143]:
Dict

{'Affiliation': ['DAIICT', 'IIT Gandhinagar'],
 'Age': [27, 29],
 'Residence': ['Ahmedabad', 'Gandhinagar'],
 'student_name': ['Ram', 'Shyam']}

In [144]:
#print keys in dict
for i in Dict:
  print(i)

student_name
Residence
Age
Affiliation

In [145]:
#print values in dict
for i in Dict:
  print(Dict[i])

['Ram', 'Shyam']
['Ahmedabad', 'Gandhinagar']
[27, 29]
['DAIICT', 'IIT Gandhinagar']

In [148]:
#to print the items of the dictionary
for i in Dict.items():
  print(i)
  print(type(i))

('student_name', ['Ram', 'Shyam'])
<class 'tuple'>
('Residence', ['Ahmedabad', 'Gandhinagar'])
<class 'tuple'>
('Age', [27, 29])
<class 'tuple'>
('Affiliation', ['DAIICT', 'IIT Gandhinagar'])
<class 'tuple'>

In [149]:
#cannot declare list as a key
Dict1={1:'One',2:['TWO','two'],[1,2,3]:'three'}

TypeError: ignored

In [150]:
#cannot declare list as a key
Dict1={1:'One',2:['TWO','two'],(1,2,3):'three'}

In [151]:
Dict1

{(1, 2, 3): 'three', 1: 'One', 2: ['TWO', 'two']}

In [152]:
#to find the length of the dictionary
len(Dict1)

3

In [153]:
Dict2=Dict1.copy()

In [154]:
Dict2

{(1, 2, 3): 'three', 1: 'One', 2: ['TWO', 'two']}

In [155]:
Dict

{'Affiliation': ['DAIICT', 'IIT Gandhinagar'],
 'Age': [27, 29],
 'Residence': ['Ahmedabad', 'Gandhinagar'],
 'student_name': ['Ram', 'Shyam']}

In [156]:
Dict['Age']

[27, 29]

In [157]:
Dict['age']

KeyError: ignored

In [158]:
#get() to get the values from the key in the dictionary
Dict.get('Age')

[27, 29]

In [159]:
Dict.get('age')

In [161]:
Dict.get('Age','not found the key')

[27, 29]

In [162]:
Dict.get('age','not found the key')

'not found the key'

In [163]:
#to get the keys
Dict.keys()

dict_keys(['student_name', 'Residence', 'Age', 'Affiliation'])

In [164]:
#to get the values
Dict.values()

dict_values([['Ram', 'Shyam'], ['Ahmedabad', 'Gandhinagar'], [27, 29], ['DAIICT', 'IIT Gandhinagar']])

In [165]:
Dict1

{(1, 2, 3): 'three', 1: 'One', 2: ['TWO', 'two']}

In [166]:
Dict.update(Dict1)

In [167]:
Dict

{(1, 2, 3): 'three',
 1: 'One',
 2: ['TWO', 'two'],
 'Affiliation': ['DAIICT', 'IIT Gandhinagar'],
 'Age': [27, 29],
 'Residence': ['Ahmedabad', 'Gandhinagar'],
 'student_name': ['Ram', 'Shyam']}

In [168]:
Dict.update(Dict1)

In [170]:
Dict[1]='DAIICT'

In [171]:
Dict

{(1, 2, 3): 'three',
 1: 'DAIICT',
 2: ['TWO', 'two'],
 'Affiliation': ['DAIICT', 'IIT Gandhinagar'],
 'Age': [27, 29],
 'Residence': ['Ahmedabad', 'Gandhinagar'],
 'student_name': ['Ram', 'Shyam']}

In [172]:
inventory={'shirts':25,'pents':25,'tshirts':50,'shoes':100}
print("inventory items: ",inventory)

inventory items:  {'shirts': 25, 'pents': 25, 'tshirts': 50, 'shoes': 100}

In [173]:
#popitem()
inventory.popitem()

('shoes', 100)

In [174]:
inventory

{'pents': 25, 'shirts': 25, 'tshirts': 50}

In [175]:
inventory['shocks']=50

In [176]:
inventory

{'pents': 25, 'shirts': 25, 'shocks': 50, 'tshirts': 50}

In [177]:
inventory['shocks']=inventory['shocks']-2

In [178]:
inventory

{'pents': 25, 'shirts': 25, 'shocks': 48, 'tshirts': 50}

In [179]:
inventory['shocks']=inventory['shocks']-48

In [180]:
inventory

{'pents': 25, 'shirts': 25, 'shocks': 0, 'tshirts': 50}

In [181]:
inventory.pop('shocks')

0

In [182]:
inventory

{'pents': 25, 'shirts': 25, 'tshirts': 50}

In [183]:
inventory['total items']=len(inventory)

In [184]:
inventory

{'pents': 25, 'shirts': 25, 'total items': 3, 'tshirts': 50}